<div>
    <table class="listViewTable table table-borderless">
        <thead class="">
            <tr class="listView__items">
                <th scope="col">TITLE</th>
                <th class="hidden-xs-device hidden-sm-device">AUTHOR</th>
                <th class="hidden-xs-device show-sm-device ">PUBLISHED</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" class="listView__items listView__title" *ngFor="let eachList of listView" (click)="redirectToArticle(eachList)">
                <th>{{eachList.title}}</th>
                <th class="hidden-xs-device hidden-sm-device">{{eachList.author}}</th>
                <th class="hidden-xs-device show-sm-device">{{eachList.publishedAt | date:'medium'}}</th>
            </tr>
        </tbody>
    </table>
    <!-- <div class="listView" *ngFor="let eachList of listView" (click)="redirectToArticle(eachList)">
        <div class="listView__items listView__title" >{{eachList.title}}</div>
         <div class="listView__items listView__author">{{eachList.author}}</div>
        <div class="listView__items listView__date">{{eachList.publishedAt | date:'medium'}}</div> 
    </div> -->
</div>