<div>
    <table class="listViewTable">
        <thead>
            <tr class="listView__items">
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>PUBLISHED</th>
            </tr>
        </thead>
        <tbody>
            <tr class="listView__items listView__title" *ngFor="let eachList of listView" (click)="redirectToArticle(eachList)">
                <th>{{eachList.title}}</th>
                <th>{{eachList.author}}</th>
                <th>{{eachList.publishedAt | date:'medium'}}</th>
            </tr>
        </tbody>
    </table>
    <!-- <div class="listView" *ngFor="let eachList of listView" (click)="redirectToArticle(eachList)">
        <div class="listView__items listView__title" >{{eachList.title}}</div>
        <div class="listView__items listView__author">{{eachList.author}}</div>
        <div class="listView__items listView__date">{{eachList.publishedAt | date:'medium'}}</div>
    </div> -->
</div>