@import '../../../stylesvariables.scss';
@import '../../../styles.scss';

:host {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 97.6%;
}

.listView__title {
    border: 1px solid;
    min-height: 20px;
    background: $backgroundColor;
    cursor: pointer;
    padding: 1%;
}

.listView__title:hover {
    transition: $transitionSeconds;
    background: $hover;
}