<div class="newsContainer">
    <div>
        <button class="backBtn" (click)="backNavigator()">Back</button>
    </div>
    <div>
        <div class="NewsHeadline">
            <div>
                <h3>{{newsInformation?.title}}</h3>
            </div>
            <div>
                <p>{{newsInformation?.publishedAt | date:'fullDate'}}</p>
            </div>
        </div>
        <div class="NewsContent">
            <div>
                <img class="NewsContent__img rounded" [src]="newsInformation?.urlToImage"/>
                <p>{{newsInformation?.content}}</p>
            </div>
        </div>
        <div class="NewsMoreInfo">
            <span>{{newsInformation?.author}}</span>
            <span><a  class="btn-link" [href]="newsInformation?.url" target="__blank">more info...</a></span>
        </div>
    </div>
</div>
