@import '../../../stylesvariables.scss';
@import '../../../styles.scss';

:host {
    position: absolute;
    width: 99.6%;
    height: calc(100% - 20px);
    background-color: $backgroundColor;
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
    .newsContainer {
        .NewsHeadline {
            display: block;
        }
        .NewsContent__img {
            width: 100%;
            float: none;
            margin-right: 0rem; 
            margin-bottom: 0rem;
        }
    }
}

.newsContainer {
    height: 100%;
    overflow: auto;
}

.NewsHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $backgroundColor;
    padding: 1%;
    h3 {
        padding-right: 2%;
    }
}
.NewsContent {
    padding: 1%;
    &__img {
        float: left;
        width: auto;
        max-height: 10rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
.NewsMoreInfo {
    clear: both;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.backBtn {
    border-radius: 23px;
    height: 2rem;
    width: 3rem;
    border: none;
    background: $button;
    margin: 1%;
    &:focus {
        outline:0;
    }
    &:hover {
        transition: 0.5s;
        cursor: pointer;
        background: $hover;
    }
}