@import '../../../stylesvariables.scss';
@import '../../../styles.scss';

:host {
    position: absolute;
    width: 99.6%;
    height: 98.9%;
    background-color: $backgroundColor;
}

.newsContainer {
    height: 100%;
    overflow: auto;
}

.NewsHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $backgroundColor;
    padding: 1%;
    h3 {
        padding-right: 2%;
    }
}
.NewsContent {
    padding: 1%;
    &__img {
        float: left;
        width: auto;
        max-height: 10rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
.NewsMoreInfo {
    clear: both;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.backBtn {
    border-radius: 23px;
    height: 2rem;
    width: 3rem;
    border: none;
    background: $button;
    margin: 1%;
    &:focus {
        outline:0;
    }
    &:hover {
        transition: 0.5s;
        cursor: pointer;
        background: $hover;
    }
}